* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; background-color: #f6f5f3;  }

.world { display: inline-block; background-color: #f6f5f3; width: 100%; height: 100%;  }

.container { font-family: Arial, Helvetica,sans-serif; background-color: white; max-width: 1440px; margin: 0 auto; box-shadow: 0 0 10px grey; margin-top: 10px; }

.header { width: 100%; height: 40px; border-bottom: 1px solid #f6f5f3; }

.header .left { height: 100%; float: left; display: inline-block; vertical-align: top;  }
.header .middle { height: 100%; float: left; width: 100%; margin-top: -40px; text-align: center; display: inline-block; vertical-align: top; }
.header .user { height: 100%; float: right; margin-top: -40px; display: inline-block; vertical-align: top; }

.header .user > div { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; margin-right: 30px; }
.header .user .username i.fa { margin-right: 10px; }
.header .user .logout:hover, .header .user .username:hover { color: black; cursor: pointer; }

.header .left { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; margin-left: 30px; }
.header .middle { font-size: 20px; display: inline-block; vertical-align: middle; line-height: 40px; color: #c1c1c1; }

.content::after { content: ""; display:block; clear: both; }

.playlist, .events { display: inline-block; vertical-align: middle; }

.playlist { padding: 20px; }

.playlist .playingtrack, .playlist .track { width: 100%; margin-bottom: 10px; }

.playlist .playingtrack .info { display: inline-block; vertical-align: top; }
.playlist .playingtrack .cover { width: 100px; height: 100px; display: inline-block; vertical-align: top; }
.playlist .playingtrack .cover img { border-radius: 6px; display: inline-block; width: 100px; height: 100px; }

.playlist .track .cover { width: 50px; height: 50px; display: inline-block; vertical-align: middle; }
.playlist .track .cover img { border-radius: 3px; display: inline-block; width: 50px; height: 50px; }
.playlist .track .info { width: 100%; margin-left: 50px; margin-top: -50px; vertical-align: top; }
.playlist .track .info .title { font-weight: bold; font-size: 15px; }
.playlist .track .info .about { font-size: 15px; }



.events { float: right; width: 300px; border-left: 1px solid #f6f5f3; padding: 10px; }

.messagebox { margin-top: 15px; }
.messagebox .avatar { width: 40px; height: 40px; display: inline-block; vertical-align: top; }
.messagebox .avatar img { border-radius: 3px; display: inline-block; width: 40px; height: 40px; }
.messagebox .info { display: inline-block; vertical-align: top; width: 250px; color: #505050 }
.messagebox .info .username { font-weight: bold; font-size: 14px; }
.messagebox .info .message { margin-top: 4px; font-size: 13px; }

.seekbar { background-color: white; position: fixed; bottom: 60px; width: 100%; max-width: inherit; height: 8px; background-color: #ebebeb;  }
.preload { background-color: #c1c1c1; height: 100%; width: 80%; }
.position { background-color: #ffcc00; height: 100%; width: 50%; margin-top: -8px; }

.player { position: fixed; bottom: 0px; width: 100%; max-width: inherit; height: 60px; background-color: white;  padding-top: 8px; box-shadow: 0 0px 10px grey;}

.current { height: 100%; float: left; display: inline-block; vertical-align: top; }
.controlls { height: 100%; float: left; width: 100%; margin-top: -60px; text-align: center; display: inline-block; vertical-align: top; }
.volume { height: 100%; float: right; margin-top: -60px; display: inline-block; vertical-align: top; }

.controlls .dislike, .controlls .pause, .controlls .like { display: inline-block; vertical-align: middle; line-height: 60px; color: #c1c1c1; margin: 0 10px; }
.controlls .dislike:hover, .controlls .pause:hover, .controlls .like:hover { color: black; cursor: pointer; }
.controlls .dislike, .controlls .like { font-size: 25px; }
.controlls .pause { font-size: 35px; }

.current .wrap { padding: 5px 5px 5px 15px; }
.current .cover { width: 50px; height: 50px; display: inline-block; vertical-align: middle; }
.current .cover img { border-radius: 3px; }
.current .info { display: inline-block; vertical-align: middle; }
.current .info .title { font-weight: bold; }
.current .info .artist {}

.volume { font-size: 25px; display: inline-block; vertical-align: middle; line-height: 60px; color: #c1c1c1; margin-right: 25px; }
.volume:hover { color: black; cursor: pointer; }
